body {
    font-family: Lato, sans-serif;
    margin: 0 500px;
    background-color: whitesmoke;
}

div,
form {
    padding: 1rem;
    background-color: white;
}

footer {
    border-top: 1px solid;
    padding: 1rem;
    margin-top: 2rem;
    height: 15px;
    font-size: smaller;
    background-color: #1e5593;
    color: white;
}

/* Navigation Bar */
nav {
    height: 50px;
    background-color: #1e5593;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
}

header li {
    display: inline-block;
    height: 22px;
    width: 100px;
    padding: 5 10px;
    text-align: center;
    color: white;
    background-color: #1e5593;
}

a {
    text-decoration: none;
    display: block;
    color: white;
    height: 50px;
    line-height: 50px;
}

a:hover {
    background-color: #4e96d2;

}

#currentpage {
    background-color: #4e96d2;
}


/* Form */
input[type="text"],
input[type="email"],
textarea,
select,
button {
    display: block;
    margin: 10px 0px;
    width: 400px;
    line-height: 1.2rem;
    border-radius: 4px;
    border-width: 1px;
}

button:active {
    background-color: white;
}



/* Column Layout (w3schools)*/
.column {
    float: left;
}

.column.middle {
    width: 45%;
}

.column.side {
    width: 45%
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

thead {
    text-align: left;
    padding: 5px;
}